[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "erlang"]
	path = erlang
	url = https://github.com/opscode-cookbooks/erlang.git
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "yum-epel"]
	path = yum-epel
	url = https://github.com/opscode-cookbooks/yum-epel.git
[submodule "yum-erlang_solutions"]
	path = yum-erlang_solutions
	url = https://github.com/opscode-cookbooks/yum-erlang_solutions.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "python"]
	path = python
	url = https://github.com/poise/python.git
[submodule "mongodb"]
	path = mongodb
	url = https://github.com/edelight/chef-mongodb.git
[submodule "cassandra"]
	path = cassandra
	url = https://github.com/michaelklishin/cassandra-chef-cookbook.git
[submodule "ulimit"]
	path = ulimit
	url = https://github.com/bmhatfield/chef-ulimit.git
[submodule "java"]
	path = java
	url = https://github.com/agileorbit-cookbooks/java.git
[submodule "ark"]
	path = ark
	url = https://github.com/burtlo/ark.git
[submodule "opsworks-rabbitmq"]
	path = opsworks-rabbitmq
	url = https://github.com/verdigris-cookbooks/opsworks-rabbitmq.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/jjasghar/rabbitmq.git
